# Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Terraform directories (local plugins/providers)
.terraform/

# AWS CLI installers
awscliv2.zip

# Backup folders
backup_tf*/
backup_tf_old*/

# Other system/editor files
*.save
*.log
